.main-container{
    background-color: wheat;
}

img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    border-radius: 20px;
    border: 3px solid #000;
}
.resume {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: small;
}

.header-container {
    display: flex;
    width: 100%; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row; 
    flex-grow: 1;
}

.txt-container {
    flex-grow: 7;
}

.footer-container {
    flex-grow: 2;
}

.txt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt-area {
    flex-grow: 8;
    margin: 20px;
    background: antiquewhite;
    width: 95%;
    font-size: 30px;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    overflow-y: hidden;
    resize: none;
}

.suggestion {
    flex-grow: 1;
    font-size: 28px;
}

.btn-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-decode,
.btn-code,
.btn-cpy {
    height: 70px;
    width: 220px;
    border-radius: 25px;
    border: none;
    font-size: 28px;
    margin: 0 0 30px 0;
    border: #AAAAAA solid;

}

.btn-decode:hover,
.btn-code:hover,
.btn-cpy:hover {
    cursor: pointer;
    background: #CCCCCC;
    font-size: 32px;
    border: #000 solid;
}

.footer-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 780px) {
    .header-container {
        height: auto;
        font-size: 14px;
        flex-direction: column;
    }

    img {
        height: auto; 
        object-fit: contain;
    }
    .resume{
        font-size: smaller;
    }
    .txt-area{
        font-size: small;
    }
    .btn-container {
        flex-direction: column;
        gap: 3px;
    }
    .suggestion{
        font-size: small;
    }
    .btn-code,
    .btn-decode,
    .btn-cpy {
        height: 45px;
        font-size: 28px;
    }
}
